language: c
before_install:
- wget https://cmocka.org/files/1.0/cmocka-1.0.1.tar.xz
- tar -xvf cmocka-1.0.1.tar.xz
- cd cmocka-1.0.1
- mkdir build
- cd build
- cmake -DCMAKE_INSTALL_PREFIX=. -DCMAKE_BUILD_TYPE=Debug ..
- make
- make install
- export PKG_CONFIG_PATH=`pwd`/lib/pkgconfig
- export LD_LIBRARY_PATH=`pwd`/lib
- cd ../..
install: make
script: make test
